@use "./GlobalVariables.module.scss" as gvars;

/****
NORMALIZE
- Placed here because importing css is render-blocking and makes pagespeed fuss
- Skip this section for readability
*/
/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
  tab-size: 4; /* 3 */
}

/*
Sections
========
*/

body {
  margin: 0; /* Remove the margin in all browsers. */
  overflow-x: hidden;
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo,
    monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

html,
body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}
html {
  font-size: 100%;
  font-size: 4vw;
  width: 100%;
  // scroll-behavior: smooth;
  @include gvars.tablet {
    font-size: 2.4vw;
  }
  @include gvars.landscape {
    font-size: 1vw;
  }
  @include gvars.laptop {
    font-size: 1vw;
  }
}

body {
  font-size: 16px;
  font-family: var(--font2), sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  background: #090516;
  color: white;
  overflow-y: hidden;
  text-align: left;
  @include gvars.tablet {
    font-size: 20px;
  }
  @include gvars.laptop {
    font-size: 16px;
  }
}
body.menu-expanded {
  overflow: hidden;
}

/**********
 * GRIDS
 ********/

.outer-grid {
  width: 90vw;
  // max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  // padding-left: 1.25rem;
  // padding-right: 1.25rem;
}

.inner-grid {
  width: 82vw;
  margin-left: auto;
  margin-right: auto;
}
.inner-grid2 {
  width: 72vw;
  margin-left: auto;
  margin-right: auto;
}

// Vertical padding is my 2023 way of doing margin. I'm using padding instead of margin because it's easier to control the spacing between elements. We can also use display:grid instead of flexbox for inside elements

// Adding the "no-top" class fixes the issue of having two divs that are seperate sections but the same background colour. Without the "no-top" class, the top padding of the second div will be the same colour as the background, which makes it look even bigger than needed. If the second div has a different background color however then you don't need the "no-top" class as it will "look" spaced out enough.

.vertical-padding1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  &.no-top {
    padding-top: 0;
  }
  &.no-bottom {
    padding-bottom: 0;
  }
}
.vertical-padding2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  &.no-top {
    padding-top: 0;
  }
  &.no-bottom {
    padding-bottom: 0;
  }
}
.vertical-padding3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  &.no-top {
    padding-top: 0;
  }
  &.no-bottom {
    padding-bottom: 0;
  }
}

.vertical-padding4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
  &.no-top {
    padding-top: 0;
  }
  &.no-bottom {
    padding-bottom: 0;
  }
}

.vertical-padding5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  &.no-top {
    padding-top: 0;
  }
  &.no-bottom {
    padding-bottom: 0;
  }
}

.vertical-padding6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  &.no-top {
    padding-top: 0;
  }
  &.no-bottom {
    padding-bottom: 0;
  }
}

.vertical-padding7 {
  padding-top: 7rem;
  padding-bottom: 7rem;
  &.no-top {
    padding-top: 0;
  }
  &.no-bottom {
    padding-bottom: 0;
  }
}

.vertical-padding8 {
  padding-top: 8rem;
  padding-bottom: 8rem;
  &.no-top {
    padding-top: 0;
  }
  &.no-bottom {
    padding-bottom: 0;
  }
}

.vertical-padding9 {
  padding-top: 9rem;
  padding-bottom: 9rem;
  &.no-top {
    padding-top: 0;
  }
  &.no-bottom {
    padding-bottom: 0;
  }
}

.vertical-padding10 {
  padding-top: 10rem;
  padding-bottom: 10rem;
  &.no-top {
    padding-top: 0;
  }
  &.no-bottom {
    padding-bottom: 0;
  }
}

.vertical-padding11 {
  padding-top: 11rem;
  padding-bottom: 11rem;
  &.no-top {
    padding-top: 0;
  }
  &.no-bottom {
    padding-bottom: 0;
  }
}

.vertical-padding12 {
  padding-top: 12rem;
  padding-bottom: 12rem;
  &.no-top {
    padding-top: 0;
  }
  &.no-bottom {
    padding-bottom: 0;
  }
}

@include gvars.tablet {
  .outer-grid {
    padding-left: 0;
    padding-right: 0;
    max-width: unset;
    width: 94%;
  }

  .tablet-inner-grid {
    width: 80vw;
    max-width: unset;
    margin-left: auto;
    margin-right: auto;
  }

  .tablet-inner-grid2 {
    width: 70vw;
    max-width: unset;
    margin-left: auto;
    margin-right: auto;
  }
  .tablet-inner-grid3 {
    width: 65vw;
    max-width: unset;
    margin-left: auto;
    margin-right: auto;
  }
  .tablet-inner-grid4 {
    width: 50vw;
    max-width: unset;
    margin-left: auto;
    margin-right: auto;
  }
  .tablet-vertical-padding1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    &.no-top {
      padding-top: 0;
    }
    &.no-bottom {
      padding-bottom: 0;
    }
  }

  .tablet-vertical-padding2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    &.no-top {
      padding-top: 0;
    }
    &.no-bottom {
      padding-bottom: 0;
    }
  }

  .tablet-vertical-padding3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
    &.no-top {
      padding-top: 0;
    }
    &.no-bottom {
      padding-bottom: 0;
    }
  }

  .tablet-vertical-padding4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
    &.no-top {
      padding-top: 0;
    }
    &.no-bottom {
      padding-bottom: 0;
    }
  }

  .tablet-vertical-padding5 {
    padding-top: 5rem;
    padding-bottom: 5rem;
    &.no-top {
      padding-top: 0;
    }
    &.no-bottom {
      padding-bottom: 0;
    }
  }

  .tablet-vertical-padding6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
    &.no-top {
      padding-top: 0;
    }
    &.no-bottom {
      padding-bottom: 0;
    }
  }

  .tablet-vertical-padding7 {
    padding-top: 7rem;
    padding-bottom: 7rem;
    &.no-top {
      padding-top: 0;
    }
    &.no-bottom {
      padding-bottom: 0;
    }
  }

  .tablet-vertical-padding8 {
    padding-top: 8rem;
    padding-bottom: 8rem;
    &.no-top {
      padding-top: 0;
    }
    &.no-bottom {
      padding-bottom: 0;
    }
  }

  .tablet-vertical-padding9 {
    padding-top: 9rem;
    padding-bottom: 9rem;
    &.no-top {
      padding-top: 0;
    }
    &.no-bottom {
      padding-bottom: 0;
    }
  }

  .tablet-vertical-padding10 {
    padding-top: 10rem;
    padding-bottom: 10rem;
    &.no-top {
      padding-top: 0;
    }
    &.no-bottom {
      padding-bottom: 0;
    }
  }

  .tablet-vertical-padding11 {
    padding-top: 11rem;
    padding-bottom: 11rem;
    &.no-top {
      padding-top: 0;
    }
    &.no-bottom {
      padding-bottom: 0;
    }
  }

  .tablet-vertical-padding12 {
    padding-top: 12rem;
    padding-bottom: 12rem;
    &.no-top {
      padding-top: 0;
    }
    &.no-bottom {
      padding-bottom: 0;
    }
  }
}

@include gvars.laptop {
  .outer-grid {
    width: 96%;
    max-width: unset;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .desktop-inner-grid {
    width: 79.6vw;
    max-width: unset;
    margin-left: auto;
    margin-right: auto;
  }

  .desktop-inner-grid2 {
    width: 70vw;
    max-width: unset;
    margin-left: auto;
    margin-right: auto;
  }
  .desktop-inner-grid3 {
    width: 60vw;
    max-width: unset;
    margin-left: auto;
    margin-right: auto;
  }
  .desktop-inner-grid4 {
    width: 50vw;
    max-width: unset;
    margin-left: auto;
    margin-right: auto;
  }
  .desktop-inner-grid5 {
    width: 40vw;
    max-width: unset;
    margin-left: auto;
    margin-right: auto;
  }
  .desktop-inner-grid6 {
    width: 33.33vw;
    max-width: unset;
    margin-left: auto;
    margin-right: auto;
  }
  .desktop-vertical-padding-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .desktop-vertical-padding-large {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  .desktop-vertical-padding1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    &.no-top {
      padding-top: 0;
    }
    &.no-bottom {
      padding-bottom: 0;
    }
  }

  .desktop-vertical-padding2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    &.no-top {
      padding-top: 0;
    }
    &.no-bottom {
      padding-bottom: 0;
    }
  }

  .desktop-vertical-padding3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
    &.no-top {
      padding-top: 0;
    }
    &.no-bottom {
      padding-bottom: 0;
    }
  }

  .desktop-vertical-padding4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
    &.no-top {
      padding-top: 0;
    }
    &.no-bottom {
      padding-bottom: 0;
    }
  }

  .desktop-vertical-padding5 {
    padding-top: 5rem;
    padding-bottom: 5rem;
    &.no-top {
      padding-top: 0;
    }
    &.no-bottom {
      padding-bottom: 0;
    }
  }

  .desktop-vertical-padding6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
    &.no-top {
      padding-top: 0;
    }
    &.no-bottom {
      padding-bottom: 0;
    }
  }

  .desktop-vertical-padding7 {
    padding-top: 7rem;
    padding-bottom: 7rem;
    &.no-top {
      padding-top: 0;
    }
    &.no-bottom {
      padding-bottom: 0;
    }
  }

  .desktop-vertical-padding8 {
    padding-top: 8rem;
    padding-bottom: 8rem;
    &.no-top {
      padding-top: 0;
    }
    &.no-bottom {
      padding-bottom: 0;
    }
  }

  .desktop-vertical-padding9 {
    padding-top: 9rem;
    padding-bottom: 9rem;
    &.no-top {
      padding-top: 0;
    }
    &.no-bottom {
      padding-bottom: 0;
    }
  }

  .desktop-vertical-padding10 {
    padding-top: 10rem;
    padding-bottom: 10rem;
    &.no-top {
      padding-top: 0;
    }
    &.no-bottom {
      padding-bottom: 0;
    }
  }

  .desktop-vertical-padding11 {
    padding-top: 11rem;
    padding-bottom: 11rem;
    &.no-top {
      padding-top: 0;
    }
    &.no-bottom {
      padding-bottom: 0;
    }
  }

  .desktop-vertical-padding12 {
    padding-top: 12rem;
    padding-bottom: 12rem;
    &.no-top {
      padding-top: 0;
    }
    &.no-bottom {
      padding-bottom: 0;
    }
  }
}

/**********
 * FONTS
 ********/

h1,
h2,
h3,
h4,
h5,
p,
li,
span,
ul {
  margin: 0;
}

// LEMON MILK ALL CAPS
// Use sparingly
h1 {
  font-family: var(--font3), sans-serif;
  margin-bottom: 0.4rem;
  font-weight: 700;
  font-size: 3.5vh;
  font-style: normal;
  text-transform: uppercase;

  @include gvars.tablet {
    font-size: 3rem;
  }
}

h2 {
  font-family: var(--font1), sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  &.s1 {
    font-size: 2rem;
    line-height: 2rem;
  }
  &.s2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  &.s3 {
    font-size: 3rem;
    line-height: 3rem;
  }
  &.s4 {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
  &.s5 {
    font-size: 4rem;
    line-height: 4rem;
  }
  &.s6 {
    font-size: 5rem;
    line-height: 5rem;
  }
  &.s7 {
    font-size: 5rem;
    line-height: 5rem;
  }

  &.underline {
    &::after {
      content: "";
      display: block;
      width: 50px;
      height: 3px;
      background: white;
      margin-top: 0.5rem;
      @include gvars.tablet {
        //     margin-left: auto;
        // margin-right: auto;
        margin-top: 1rem;
      }
      @include gvars.laptop {
        margin-left: 0;
        margin-right: 0;
        width: 30px;
        margin-top: 0.7rem;
      }
    }
  }
}

h3 {
  font-weight: 600;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  text-align: center;
  // margin-top: 1em;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--font2), sans-serif;
  &.underline {
    &::after {
      content: "";
      display: block;
      // width: 50px;
      height: 0.1rem;
      background: white;
      width: auto;
      margin-top: 0.2rem;
    }
  }
}

h4 {
  color: #8e8e8e;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 1.2px;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
li {
  font-size: 1.15rem;
  line-height: 1.85rem;
  margin-bottom: 1rem;
  font-family: var(--font2), sans-serif;
  &.faded {
    opacity: 0.75;
  }
  &:last-child {
    margin-bottom: 0;
  }

  @include gvars.tablet {
    font-size: 1.1rem;
  }
}

p.large {
  font-size: 1.45rem;
  line-height: 2.35rem;
  font-family: var(--font2), sans-serif;
}

p.small {
  font-size: 0.9rem;
  line-height: 1.45rem;
  font-family: var(--font2), sans-serif;
}
.no-margin {
  margin: 0;
}
/****
MISC
*/

.LazyLoad.is-visible {
  height: auto !important;
}

.Line-Mini {
}

/**********
 * ANIMATIONS
 ********/

.hidden {
  opacity: 0;
  filter: blur(0.2rem);
  // transform: translateY(0.5rem);
  // transition: all 0.8s ease-in-out;

  transition: all 0.5s ease-in-out 0.1s;
}

.hiddenNoIntersection {
  // Since the "hidden" class gets triggered by InersectionObserver
  opacity: 0;
  filter: blur(0.2rem);
  transition: filter 0.8s ease-in-out 0.1s, opacity 0.8s ease-in-out 0.1s;
}

.hidden-parent {
  position: relative;
  opacity: 0;
  filter: blur(0.5em);
  transform: translateY(1rem);
  transition: filter 0.8s ease-in-out, transform 0.8s ease-in-out;
}
.hidden-offset {
  background: red;
  height: 10px;
  width: 10px;
  position: absolute;
  top: 7rem; // If you make this a compenent you can pass in the top value as a prop
}

.animateLeft {
  transform: translateX(-100%);
}

.show {
  opacity: 1;
  // transform: translateX(0);
  // transform: translateY(0);
  filter: blur(0);
}

// Slide up text reveal styles
.hiddenSlideUp {
  top: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  filter: blur(0.2em);
  transition: top 1s, opacity 1.5s, filter 1.5s;
}

.lineContainer {
  position: relative;
  overflow: hidden;
}
.invisibleText {
  opacity: 0;
}

.showSlideUp {
  top: 0;
  opacity: 1;
  filter: blur(0);
}

.delayMini {
  transition-delay: 0.4s;
}

.delay {
  transition-delay: 0.8s;
}

.delay2 {
  transition-delay: 1.2s;
}

.delay3 {
  transition-delay: 1.6s;
}

.delay4 {
  transition-delay: 3.2s;
}

@include gvars.laptop {
  .desktop-delayMini {
    transition-delay: 0.4s;
  }

  .desktop-delay {
    transition-delay: 0.8s;
  }

  .desktop-delay2 {
    transition-delay: 1.2s;
  }

  .desktop-delay3 {
    transition-delay: 1.6s;
  }

  .desktop-delay4 {
    transition-delay: 3.2s;
  }
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.reTriggerAnimation {
  animation: none !important;
}

.reTriggerPulse {
  animation-delay: 0s, 0.5s, 2s, 3s !important;
  animation-duration: 0.5s, 1s, 1s, 1s !important;
  animation-timing-function: ease, ease-out, ease, ease !important;
}

.reTriggerPulse2 {
  animation-delay: 0s, 0.5s, 2s, 3s !important;
  animation-duration: 0.5s, 0.75s, 1s, 1s !important;
  animation-timing-function: cubic-bezier(0.57, 0.26, 0.87, 0.91), ease-out,
    ease, ease !important;
}

.freezeAtLastFrame {
  animation-duration: 0s !important;
  animation-delay: 0s !important;
}
.scaleOnClick {
  @keyframes scaleonclick {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }
  // transform: scale(1) !important;

  animation: scaleonclick 0.5s ease forwards !important;
}

.preloader-animation {
  height: auto;
  width: 22vw;
  @include gvars.laptop {
    height: auto;
    width: 5vw;
  }
}
