@use "../styles/GlobalVariables.module.scss" as gvars;

.FooterWrapper {
  background: #090516;

  width: 100%;
  color: white;
  text-align: left;

  .innerContainer {
    @include gvars.laptop {
      display: grid;
      grid-template-columns: 2fr 3fr 2fr;
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
    }
  }

  .address {
    order: 1;
    margin-bottom: 3em;
    @include gvars.laptop {
      margin-bottom: 0;
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        text-transform: uppercase;
        letter-spacing: 0.08em;
        margin-bottom: 0.5em;
      }
    }
  }
  .emailPhone {
    order: 1;
    margin-bottom: 3em;
    @include gvars.laptop {
      margin-bottom: 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    > div {
      margin-bottom: 1em;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    img {
      width: 1.8em;
      margin-right: 0.8em;
    }
    img,
    span {
      vertical-align: middle;
    }
  }

  .socialIconsContainer {
    order: 3;
    margin-bottom: 3em;
    @include gvars.laptop {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      margin-bottom: 0;
    }
    a {
      cursor: pointer;
    }
    img {
      width: 5em;
      margin-right: 1em;
      display: inline-block;
      height: auto;
      @include gvars.laptop {
        width: 3.8rem;
        margin-right: 0;
        margin-left: 0.8rem;
      }
    }
  }

  .copyright {
    @include gvars.laptop {
      font-size: 1rem;
      display: flex;
      justify-content: center;
      text-align: center;
      margin-bottom: 0;
      align-items: center;
    }
    order: 2;
    text-transform: uppercase;
    letter-spacing: 0.09em;
    line-height: 1.8em;
  }
}
