@use "../styles/GlobalVariables.module.scss" as gvars;
.HeaderWrapper {
  position: fixed;
  background-color: transparent;
  z-index: 99;
  transition: background-color 0.2s ease-out;
  color: white;
  width: 100%;
  opacity: 0;
  animation: fadeIn 0.8s ease-in-out forwards 1s;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  // This is the outer container needed to have a smoothly working expandable mobile menu, this contains only the top parts
  .top-container {
    background: rgba(0, 0, 0, 0);
    transition: all 0.2s;
    &.open {
      background: rgba(0, 0, 0, 1) !important;
    }
    .inner-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      z-index: 3;
      position: relative;
    }
  }

  .left-column {
    .logo {
      width: 6.5em;
    }
  }

  // Hide the links on mobile and then show them on larger screens while hiding the button
  .right-column {
    a {
      display: none;
    }
    @include gvars.laptop {
      a {
        display: inline-block;
        margin-right: 1em;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        &:last-of-type {
          margin-right: 0;
        }
      }
      .hamburger {
        display: none;
      }
    }
  }

  .mobile-menu-container {
    height: 100vh;
    margin-top: -150vh;
    opacity: 0;
    z-index: 2;
    transition: all 0.2s;
    color: white;
    background: #393939;
    padding-top: 20px;
    padding-bottom: 20px;
    &.open {
      opacity: 1;
      margin-top: 0;
    }
    a {
      display: block;
      cursor: pointer;
      margin-bottom: 4vh;
      font-size: 1.6rem;
    }
  }
}
