@use "../styles/GlobalVariables.module.scss" as gvars;
.HeaderWrapper {
  position: fixed;
  background-color: transparent;
  z-index: 999;
  /* transition: background-color 0.4s linear; */

  color: white;
  /* width: 100%; */
  visibility: hidden;
  width: 100vw;
  opacity: 0;
  backdrop-filter: blur(1.2em);
  transition: all 0.4s linear;
  &.headershow {
    opacity: 1;
    visibility: visible;
  }
  // This is the outer container needed to have a smoothly working expandable mobile menu, this contains only the top parts
  .top-container {
    background: rgba(0, 0, 0, 0);
    /* box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.35); */
    /* box-shadow: 0px 9px 9px 1px rgba(0, 0, 0, 0.35); */
    /* transition: opacity 0.2s; */
    padding-top: 0.65em;
    padding-bottom: 0.65em;
    @include gvars.laptop {
      padding-top: 0em;
      padding-bottom: 0em;
      backdrop-filter: blur(0);
    }
    &.open {
      background: #1e0a39 !important;
    }
    .inner-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      z-index: 3;
      position: relative;
    }
  }

  .left-column {
    a {
    }
    .logo {
      width: 7rem;
      @include gvars.laptop {
        width: 5.8rem;
      }
      /* transition: opacity 0.2s; */
      &.mini {
        width: 6.8em;
        @include gvars.laptop {
          width: 7.6vw;
        }
      }
    }
  }

  // Hide the links on mobile and then show them on larger screens while hiding the button
  .right-column {
    a {
      display: none;
    }
    @include gvars.laptop {
      a {
        display: inline-block;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        font-size: 0.82em;
        font-weight: 700;
        margin-right: 2em;
      }
      .hamburger {
        display: none;
      }
      .hamburger-react {
        display: none;
      }
    }

    @include gvars.laptop {
      a {
        font-size: 0.8vw;
      }
    }
  }

  .mobile-menu-container {
    height: 100vh;
    width: 100%;
    margin-top: -150vh;
    opacity: 0;
    display: flex;
    flex-direction: column;
    z-index: 2;
    transition: all 0.2s;
    color: white;
    background: rgb(30, 10, 57);
    background: rgb(5 2 27 / 85%);
    padding-top: 4em;
    padding-bottom: 4em;
    &.open {
      opacity: 1;
      margin-top: 0;
    }
    @include gvars.tablet {
      justify-content: center;
      padding-top: 0;
    }
    .menu-inner-wrapper {
      @include gvars.tablet {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    }
    .individual-link-container {
      transform: scale(1.2);
      transform-origin: top left;
      @include gvars.tablet {
        transform: scale(1.4);
        transform-origin: center;
      }
    }
    a {
      display: inline-block;
      cursor: pointer;
      margin-bottom: 1.6rem;

      button {
        border-radius: 20em;
      }
    }
    .contact-details-container {
      img {
        width: 2em;
        margin-right: 1em;
      }
      .col {
        display: flex;
        align-items: center;
        margin-bottom: 1em;
      }
      @include gvars.tablet {
        img {
          margin-bottom: 1rem;
          margin-right: 0;
        }
        .col {
          flex-direction: column;
          margin-bottom: 2rem;
        }
        span {
          font-size: 1rem;
        }
      }
    }
    @include gvars.laptop {
      display: none;
    }
  }
}
